#score {
    text-align: center;
}

#game {
    width: 600px;
    height: 300px;
    border: 2px solid rgb(17, 20, 71);
    margin: auto;
    background-image: url(https://media.istockphoto.com/id/494793504/vector/underwater-seamless-landscape.jpg?s=612x612&w=0&k=20&c=MsL7PsgYFI6TGTm17YWTZyDRt9xoi58N607yvJDiryk=);
    background-size: cover;
}

#ptag {
    position: absolute;
    font-family: "Sour Gummy";
}

.container {
    width: 400px;
    height: 150px;
    position: absolute;
    top: 75px;
    left: 125px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



#dino {
    height: 75px;
    width: 75px;
    position: relative;
    top: 225px;
    background-image: url("shark.png");
    background-size: cover;
}

#rock {
    height: 50px;
    width: 50px;
    position: relative;
    top: 175px;
    left: 550px;
    background-image: url("seaweed.png");
    background-size: cover;
    animation: rock 1.33s infinite;
}

#choice1 {
    width: 200px;
    height:  75px;
    background-color:rgb(62, 69, 148);
    border: 5px solid rgba(255, 255, 255, 0.152);
    border-radius: 10px;
    font-family: "Sour Gummy";
    color:rgb(255, 255, 255);
    text-align: center;
}

#choice2 {
    width: 200px;
    height: 75px;
    background-color:rgb(75, 131, 150);
    border: 5px solid rgba(255, 255, 255, 0.152);
    border-radius: 10px;
    font-family: "Sour Gummy";
    color:rgb(255, 255, 255);
    text-align: center;
}

@keyframes rock {
    0%{left: 550px;}
    100%{left:-50px;}
}

.jump-animation {
    animation: jump 0.5s;
}

@keyframes jump {
    0%{top: 225px;}
    50%{top: 75px;}
    75%{top: 75px;}
    100%{top: 225px;}
}